@font-face {
  font-family: 'nassim';
  src: url("../font/nassim-regular.woff") format('woff');
}
@font-face {
  font-family: 'nassim';
  font-weight: bold;
  src: url("../font/nassim-bold.woff") format('woff');
}

html {
  font-size: 16px;
}

body {
  direction: rtl;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2em;
}

.footer {
  border-top: 1px solid #e5e5e5;
}

.marketing {
  font-size: 1.3em;
  margin-bottom: 10em;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
